body {
  	text-align: center;
	margin: 4em 0 0 0;
	vertical-align: middle; 
	font-size: .8em;
	font-family: "Lucida Sans",helvetica,sans-serif;
}

b {
	color: #423F3F;
}

p {
	color: #949599;
}

#columna {
	width: 800px;
	text-align: left;
	margin: 0 auto;
	display: block;
	position: relative;
}


#AtrasWraper {
	left: 800px;
	top: 60px;
	position: absolute;
	margin-left: 35px;
	width: 50px;
}

#atras {
	margin-top: 50px;
	padding-top: 20px;
	position: absolute;
	top: 0;
}

#atras.fixed {
	position: fixed;
	top: 0;
}

a {
	text-decoration: none;
	color: #949599;
}
